/* app.component.css */
.main-container {
  display: flex;
  height: 100vh;
}

.side-nav {
  width: 250px;
  background-color: #343a40;
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
  padding: 1rem;
  background-color: #f8f9fa;
  overflow-y: auto;
}

