/* General form styles */
.form {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h4 {
    margin-bottom: 2%;
    font-size: 1.5 rem;
    color: #333;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out;
    height: 40px;
    line-height: 1.5;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary, .btn-outline-primary {
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.invalid-feedback {
    display: none;
    font-size: 0.9rem;
    color: #dc3545;
}

.ng-invalid.ng-touched .invalid-feedback {
    display: block;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
        padding: 10px 0;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-outline-primary, .btn-primary {
        padding: 10px;
    }

    .float-right {
        text-align: center;
    }

    .list-inline-item {
        margin: 0 5px;
    }
}
